th, td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.btn-view-log, .btn-edit, .btn-delete {
  /* padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px; */
  margin-right: 5px;
  /* font-size: 0.8em; */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  body {
      padding: 10px;
  }
  .admin-panel {
      padding: 10px;
  }
  th, td {
      padding: 5px 10px;
  }
}
